/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-upload-block-upload-block form {
	display: flex;
	flex-direction: column;
}

.wp-block-upload-block-upload-block form button[type="submit"] {
	margin-top: 1em;
}

